<%= turbo_frame_tag comment do %>
  <div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12">
            <div class="cardo p-3 bg-white">
                <h4><%= comment.user.user_profile.username unless comment.user.user_profile == nil %></h4>
                <h4><%= "Guest" if comment.user.user_profile == nil %></h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="user justify-content-between align-items-center">
                  <% if current_user&.user_profile&.avatar %>
                    <%= image_tag current_user.user_profile.avatar.image_url, style: "width: 80px; border-radius: 50%;" %>
                  <% else %>
                    <%= image_tag "mangologo", style: "width: 80px; border-radius: 50%;" %>
                  <% end %>
                  <div class="containe py-3">
                    <big class="font-weight-bold">
                      <h5><strong><%= comment.title %></strong></h5>
                      <p><%= comment.content %></p>
                      <% if current_user == comment.user %>
                      <div class="action d-flex mt-2 align-items-center">
                        <%= link_to edit_country_topic_comment_path(comment.topic.country, comment.topic, comment), style: "padding-right: 10px;" do %>
                          <i class="fa-solid fa-pen btn btn-primary"></i>
                        <% end %>
                        <%= button_to country_topic_comment_path(comment.topic.country, comment.topic, comment),
                                      method: :delete,
                                      style: "padding: 0;
                                            border: none;
                                            background: none;",
                                      data: { turbo_confirm: "Are you sure?" } do %>
                          <i class="fa-solid fa-trash btn btn-primary"></i>
                        <% end %>
                      </div>
                      <% end %>
                    </big>
                  </div>
                </div>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </div>
