<div style="background-image: url('<%= asset_path @topic.country.background %>'" class="background">
</div>

<%= link_to ('<i class="fa-regular fa-hand-point-left"></i> Go back').html_safe, country_path(@topic.country), class: "btn form-actions my-3" %>

<div class="card-category" style="background-image: url('<%= asset_path @topic.image %>')">
  <%# <%= image_tag @topic.image %>
  <h1><%=@topic.title%></h1>
</div>

<div class="topics-content">
  <div class="container py-1">
    <p class="pt-3"><%= sanitize @topic.content %></p>
  </div>
  <hr>

  <div class="container comment-section">
    <h5 class="text-center">Comment Section</h5></div>
    <div class="text-center py-3">
      <% if user_signed_in? %>
        <%= link_to "New comment",
                            new_country_topic_comment_path(@country, @topic, @comment),
                            class: "btn btn-primary",
                            data: { turbo_frame: "new_comment" } %>
      <% else %>
        <%= link_to "Log in to comment", root_path, class: "btn btn-primary" %>
      <% end %>
    </div>

    <%= turbo_frame_tag "comments" do %>
      <% @topic.comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    <% end %>
    <br>
  </div>
</div>
