<div id="screen">
  <div id="header"><h1 class="py-3">MIGRATING MANGO</h1></div>
  <div id="select-country"><em>Select your country by clicking on the flag</em></div>
  <div class="container container-home">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="container container-home">
          <div class="clouds"></div>
          <div class="planet"></div>
          <a href="countries/1">
            <div class="swiss">
              <div class="fflag fflag-CH ff-xl ff-sphere ff-xl"></div>
            </div>
          </a>
          <a href="countries/3">
            <div class="romania">
              <div class="fflag fflag-RO ff-xl ff-sphere ff-xl"></div>
            </div>
          </a>
          <a href="countries/4">
            <div class="greece">
              <div class="fflag fflag-GR ff-xl ff-sphere ff-xl"></div>
            </div>
          </a>
          <a href ="countries/2">
            <div class="uk">
              <div class="fflag fflag-GB ff-xl ff-sphere ff-xl"></div>
            </div>
          </a>
          <a href="countries/5">
            <div class="lebanon">
              <div class="fflag fflag-LB ff-xl ff-sphere ff-xl"></div>
            </div>
          </a>
          <div class="up"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-home">
    <div class="d-flex justify-content-center h-40 login">
      <div class="card">
        <div class="card-body">
          <% if !current_user %>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
              <div class="form-inputs">
                  <%= f.input :email,
                                required: false,
                                autofocus: true,
                                autocomplete: "email",
                                label: ('<i class="fas fa-user text-warning"></i>').html_safe,
                                class: "d-flex",
                                placeholder: "Email" %>
                  <%= f.input :password,
                              required: false,
                              autocomplete: "current-password",
                              label: ('<i class="fas fa-key text-warning"></i>').html_safe,
                              class: "d-flex",
                              placeholder: "Password"%>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
              <div class="d-inline-flex w-100 justify-content-between">
                <div class="form-actions">
                  <%= f.button :submit, "Log in", class: "log-in-button px-4" %>
                </div>
                <%= link_to "Sign up", new_user_registration_path, class: "btn log-in-button px-4" %>
              </div>
            <% end %>
          <% else %>
            <div class="d-flex justify-content-center h-40 login">
              <%= link_to "Continue", country_path(1), class: "btn log-in-button px-4 justify-content-center" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
