 <%= simple_form_for user_profile do |f| %>
    <p>Choose your avatar</p>
    <div data-controller="avatar">
      <% Avatar.all.each do |avatar| %>
        <%= image_tag avatar.image_url, class: "avatar", data: { image: avatar.id, action: "click->avatar#mark", "avatar-target": "mango" } %>
      <% end %>
      <%= f.input :avatar_id, :as => :hidden, :input_html => { "data-avatar": @user_profile.avatar ? @user_profile.avatar.id : rand(1..Avatar.all.count), "data-avatar-target": "input" } %>
    </div>
    <%= f.input :username, label: "Choose a username", placeholder: "Username" %>
    <%#! maybe add "I have an address already" checkbox - can also skip out a few tasks (or mark as complete) if true %>
    <%= f.input :foreign_address, label: "Please enter your foreign address or expected city of residence", placeholder: "Bahnhofstrasse 1, Zürich" %>
    <%#! would be great if above did an autocomplete thing %>
    <%= f.input :entry_method, label: "Permit type (work, study or family reunification)", collection: ["Work", "Study", "Family reunification"] %>
    <%= f.input :eu_status, label: "I am an EU citizen" %>
    <%= f.input :has_job_offer, label: "I have a job offer in Switzerland" %>
    <%= f.input :has_study_offer, label: "I have an offer letter to study in Switzerland" %>
    <%= f.input :has_relative, label: "I have a close relative who is a swiss citizen or holds a swiss permit" %>
    <%#! can we add pop ups with further info? %>
    <%= f.button :submit, "Submit", class: "btn other-button px-4" %>
  <% end %>
<p class="mb-3"></p>
