<div class="new-user-profile-form">
  <h2>Your details</h2>

  <%= simple_form_for @user_profile, method: :post do |f| %>
    <%= f.input :foreign_address %>
    <%= f.input :eu_status %>
    <%= f.input :entry_method %>
    <%= f.input :has_job_offer %>
    <%= f.input :has_study_offer %>
    <%= f.input :has_relative %>
    <%= f.submit %>
  <% end %>
</div>
