<div style="background-image: url('<%= asset_path @country.background %>'" class="background">
</div>
  <div class="container">
  <h1 class="my-3 text-center"><strong>Welcome to <br><%= @country.name %>!</strong></h1>

  <div class="searchbar-topics my-3">
    <%= form_with url: country_path(@country), method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a topic"
    %>
    <%= submit_tag "Search", class: "btn btn-primary text-white" %>
    <% end %>
  </div>

  <div class="row gy-5 justify-content-center">
    <div class="col-6 topic-card">
      <% if current_user.nil? %>
        <% path =  new_user_registration_path %>
      <% else %>
        <% path = (current_user.user_profile.nil? ? new_user_profile_path :  user_profile_user_tasks_path(current_user.user_profile)) %>
      <% end %>
      <%= link_to path do %>
        <div class="tile">
          <div class="tile--icon">
            <i class="fa-solid fa-list-check"></i>
          </div>
          <div class="tile--title"> <!-- use this title for search bubby -->
            My tasks
          </div>
        </div>
      <% end %>
    </div>


    <div class="col-6 topic-card">
      <% if current_user.nil? %>
        <% path =  new_user_registration_path %>
      <% else %>
        <% path = (current_user.user_profile.nil? ? new_user_profile_path : edit_user_profile_path(current_user)) %>
      <% end %>
      <%= link_to path do %>
        <div class="tile">
          <div class="tile--icon">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="tile--title"> <!-- move your fat eyes here -->
            My profile
          </div>
        </div>
      <% end %>
    </div>

    <% @topics.each do |topic| %>
      <%= render "countries/topic_card", topic: topic %>
    <% end %>
    <p class="mb-2"></p>
  </div>
</div>
