<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>MigratingMango</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://fonts.cdnfonts.com/css/connie" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap" rel="stylesheet">
  </head>


  <body>
    <div class="mountains">
      <% unless controller_name == "pages" %>
          <%= render "shared/navbar"%>
          <%= render "shared/flashes" %>
      <% end %>

      <%= yield %>

      <% unless controller_name == "pages" %>
          <%= render "shared/footer"%>
      <% end %>
  </body>
</html>
