<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>MigratingMango</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
<<<<<<< HEAD
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
=======
    <% unless controller_name == "pages" %>
        <%= render "shared/navbar"%>

    <% end %>
        <%= render "shared/flashes" %>
>>>>>>> db643f7778159fd14b173d988ca21622b51135c2

    <%= yield %>
  </body>
</html>
