<div data-controller="task-dropdown" data-action="click->task-dropdown#revealEdit" class="card-product my-3" data-task-dropdown-target="task">

  <div class="task-infos my-3 d-flex justify-content-between" data-task-dropdown-target="card">
    <div class="topic"><%= task.task.topic.icon  %></div>
    <div class="title"><h2><%= task.task.title %></h2></div>
    <div><i data-task-dropdown-target="caret" class="fa-solid fa-caret-down caret"></i></div>
  </div>

  <div data-task-dropdown-target="edit" class="d-none">

    <div class="row px-3 mb-3">

      <%# show task button  %>
      <div class="col p-0 mb-1 mx-1">
        <%= link_to ('<i class="fa-solid fa-eye"></i> Show Task').html_safe, user_profile_user_task_path(current_user, task), class: "btn task-button col-12" %>
      </div>

      <%# mark as active button  %>
      <% unless task.status == "Active" %>
        <div class="col p-0 mb-1 mx-1" >
          <%= button_to ('<i class="fa-solid fa-circle-exclamation"></i> Active').html_safe, active_user_profile_user_tasks_path(current_user, task), method: :post, class: "btn task-button col-12" %>
        </div>
      <% end %>

      <%# mark as complete button  %>
      <% unless task.status == "Upcoming" %>
        <div class="col p-0 mb-1 mx-1" >
          <%= button_to ('<i class="fa-sharp fa-solid fa-bell"></i> Upcoming').html_safe, upcoming_user_profile_user_tasks_path(current_user, task), method: :post, class: "btn task-button col-12" %>
        </div>
      <% end %>

      <%# mark as complete button  %>
      <% unless task.status == "Completed" %>
        <div class="col p-0 mb-1 mx-1" >
          <%= button_to ('<i class="fa-solid fa-square-check"></i> Complete').html_safe, complete_user_profile_user_tasks_path(current_user, task), method: :post, class: "btn task-button col-12" %>
        </div>
      <% end %>

    </div>
  </div>

</div>
