<%# Make 3 dots if too long and show full title when clicked %>
<div style="background-image: url('<%= asset_path @tasks.first.task.country.background %>'" class="background">
</div>
<%= link_to ('<i class="fa-regular fa-hand-point-left"></i> Go back').html_safe, country_path(@tasks.first.task.country), class: "btn form-actions my-3" %>

<div class="searchbar-topics">
  <%= form_with url: user_profile_user_tasks_path(@user_profile), method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a task"
    %>
    <%= submit_tag "Search", class: "btn btn-primary text-white", style: "border-color: red;" %>
  <% end %>
</div>

<div class="tasks-container container">

  <%= link_to ('<i class="fa-solid fa-plus"></i> Create custom task').html_safe, new_country_topic_task_path(Country.first, Topic.first, Task.new), class: "btn create-button p-1 mb-3 col-8" %>

  <%# ABOVE NEEDS UPDATING  %>

  <h1><strong>Active Tasks</strong></h1>
  <div>
    <% if @active_tasks.count == 0  %>
      <p>You have no active tasks.</p>
    <% else %>
      <% @active_tasks.each do |task| %>
        <%= render "user_tasks/task", task: task %>
      <% end %>
    <% end %>
  </div>
  <h1><strong>Upcoming Tasks</strong></h1>
  <div>
    <% if @upcoming_tasks.count == 0  %>
      <p>You have no upcoming tasks.</p>
    <% else %>
      <% @upcoming_tasks.each do |task| %>
        <%= render "user_tasks/task", task: task %>
      <% end %>
    <% end %>
  </div>
  <h1><strong>Completed Tasks</strong></h1>
  <div>
    <% if @completed_tasks.count == 0  %>
      <p>You have not completed any tasks.</p>
    <% else %>
      <% @completed_tasks.each do |task| %>
        <%= render "user_tasks/completedtask", task: task %>
      <% end %>
    <% end %>
  </div>
  <br>
